<?xml version="1.0"?>
<launch>

  <!-- Vehicle's name and identifier -->
  <arg name="name" default="m690b"/>
  <arg name="ID" default="1"/>
  <arg name="mission" default="real"/>

  <!-- Launch the UAV with the appropriate namespace -->
  <group ns="$(arg name)$(arg ID)">

    <!-- MAVROS and vehicle configs -->
    <arg name="GCS_IP" default="10.0.26.186"/>
    <arg name="GCS_PORT" default="$(eval 15001 + arg('ID'))"/>

    <!-- MAVROS Configurations -->
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="/dev/ttyUSB0:921600"/>
      <arg name="gcs_url" value="udp://@$(arg GCS_IP):$(arg GCS_PORT)"/>
      <arg name="tgt_system" value="$(eval arg('ID'))"/>
      <arg name="tgt_component" value="1"/>
    </include>

    <!-- Load Drone_vx algorithms -->
    <include file="$(find drone_bringup)/launch/drone_sim.launch">
      <arg name="name" value="$(arg name)"/>
      <arg name="ID"   value="$(arg ID)"/>
      <arg name="mission" value="$(arg mission)"/>
    </include>

   </group>
</launch>
